Kpmg.Assessment/.vs/config/applicationhost.config
Kpmg.Assessment/Kpmg.Assessment.UIClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kpmg.Assessment/Kpmg.Assessment.UIClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Kpmg.Assessment/packages/netfx-Guard.1.2.0.0/tools/uninstall.ps1
Kpmg.Assessment/Kpmg.Assessment.UIClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Kpmg.Assessment/Kpmg.Assessment.WebApi/444.Debug.config
Kpmg.Assessment/Kpmg.Assessment.WebApi/444.Release.config
Kpmg.Assessment/Kpmg.Assessment.WebApi/444.config
Kpmg.Assessment/packages/netfx-Guard.1.2.0.0/tools/notempty.snippet
Kpmg.Assessment/packages/netfx-Guard.1.2.0.0/tools/notnull.snippet
