<div class="jumbotron">
    <h3>Upload Feedback</h3>

    <p class="lead"></p>

    <div class="row">
        <div class="top-space">Transaction data was successfully updated. </div>
        <br />
    </div>

    <div>
        @Html.ActionLink("Back to Dashboard", "Index", "Home", null, new { @class="btn btn-primary" })
    </div>
</div>



<div class="row">

</div>

