<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kpmg.Assessment.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Kpmg.Assessment.Common.Settings>
      <setting name="ExcelFileExtension" serializeAs="String">
        <value>xlsx</value>
      </setting>
      <setting name="CsvFileExtension" serializeAs="String">
        <value>csv</value>
      </setting>
      <setting name="BatchSize" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="QueueLimit" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="NoPostedFile" serializeAs="String">
        <value>No file was found in the request</value>
      </setting>
      <setting name="ServerError" serializeAs="String">
        <value>Something went wrong on the server. Please contact your administrator</value>
      </setting>
    </Kpmg.Assessment.Common.Settings>
  </applicationSettings>
</configuration>